@layer base{
    body{
       
        font-family: var(--font-family-sans);
        font-size: var(--font-size-base);
        background-color: var(--color-background);
        color: var(--color-primary-text);
        line-height: 1.5;
    }
    h2{
        font-size: var(--font-size-h2);
        font-weight: var(--font-weight-bold);
        padding-bottom: var(--space-10);
    }
    
    .description{
        font-size: var(--font-size-description);
    }
    a{
        text-decoration: none;
        color:inherit;
    }
    ul{
        list-style: none;
    }
}