@import "reset.css" layer(reset);
@import "base.css" layer(base);
@import "utilities.css" layer(utilities);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

@layer reset, base, utilities;

:root {
  --font-size-base: 16px;
  --font-size-base-large: 20px;
  --font-size-description: 18px;
  --font-size-navigation: 16px;

  --font-size-h1: 30px;
  --font-size-h2: 25px;
  --font-size-h3: 30px;
  --font-size-hero: 30px;
  --font-size-hero-span: 40px;

  --font-size-card-text: 20px;  
  --font-size-contact-text: 30px;
  
  --font-family-sans: 'Noto Sans', sans-serif;
  --font-family-alt: 'Seaweed Script', cursive;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --space-0: 0;
  --space-10: 10px;
  --space-20: 20px;
  --space-50: 50px;
  --space-100: 100px;
  --space-120: 120px;

    --color-primary: #1a1a1a;
    --color-primary-text:#fff;

    --color-secondary: #fff;
    --color-secondary-text: #1a1a1a;

    --color-accent: #bcbcbc;

    --color-background: #1a1a1a;
    --color-background-secondary: #fff;
}
.display-flex-def-lr-padding{
    align-items: center;
    justify-content: space-between;
    padding: var(--space-100) var(--space-120) var(--space-100);
}
.from-right-orientation{
    flex-direction: row-reverse;
    text-align: right;
    align-items: flex-end;
    color: var(--color-secondary-text);
    background-color: var(--color-background-secondary);
}
.description-left{

    width: 50%;         
   
}
.description-right{

    justify-self: end;
    width: 50%;           
   
}
header{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: var(--space-20) var(--space-120);
    z-index: 2;
}


.main-heading{
  font-size: var(--font-size-h1);
  font-family: var(--font-family-alt);
  color: var(--color-primary-text);
  
}
.menu-toggle, .burger-icon, .burger-close{
    display: none;
}
.navigation-content{
  display: flex;
  gap: var(--space-50);
  justify-content: space-between;
  align-items: center;
  
  font-size: var(--font-size-navigation);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  
  color: var(--color-primary-text);

}
.navigation-content li:hover{
    
    scale: 105%;
}
.language-changer-icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.sctn-hero{
    min-height: 600px;
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url(https://cdn.pixabay.com/photo/2022/04/04/12/29/garden-7111101_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.sctn-hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}
.hero-text{
    font-size: var(--font-size-hero);
    color: var(--color-primary-text);
    font-family: var(--font-family-sans);
    width: 50%;
    padding: var(--space-20);
    padding-left: var(--space-0);
   
}
.hero-text span{
    font-size: var(--font-size-hero-span);
    font-family: var(--font-family-alt);
    
}
.hero-action-button button{
    
    width: 250px;
    height: 60px;
    font-size: var(--font-size-base-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-text);
    text-transform: uppercase;
    background-color: transparent;
    border: var(--color-secondary) 3px solid;
    border-radius: 20px;
    cursor: pointer;
   
}


.hero-action-button button:hover{
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);
    transition: all 0.3s ease-in-out;
}
.sctn-about-us{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
.sctn-about-us-content{
  align-content: center;
  width: 60%;

  max-width: 1500px;
}
.sctn-about-us-content .description{
    width: 80%;
}
.about-us-image{
    
    width: 40%;
    display: flex;
    justify-content: center;
}
.about-us-image img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}



.sctn-menu-images{
    padding: var(--space-50) 0;
    display: flex;
    
    justify-content: space-between;
    
   
}
.sctn-menu-images img{
    width: 30%;

    max-width: 800px;
    transition: all 0.3s ease-in-out;
}
.sctn-menu-images img:hover{
    scale: 101%;
}

.review-cards{
    padding: var(--space-50) 0;
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    gap: var(--space-50);
}

.card{
    background-color: var(--color-background-secondary);
    border-radius: 20px;
    width: 30%;
    min-width: 350px;
    max-width: 500px;
    height: 275px;
    color: var(--color-secondary-text);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.card:hover{
    transition: ease-in-out 0.3s;
    scale: 102%;
}
.card-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.card-name{
    font-size: var(--font-size-base-large);
    font-weight: var(--font-weight-bold);
}
.card-avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.card-text{
    padding: var(--space-10) 0;
}
.card-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.star{
    font-size: var(--font-size-h1);
    color: var(--color-accent);
    text-shadow: var(--color-accent) 1px 2px;
}
.filled{
    color: gold;
    
}

.sctn-booking form {
 
    padding: var(--space-50) 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    font-size: var(--font-size-base);
    
}
.both-parts{
    display: flex;
    flex-direction: column;
    padding: var(--space-50);
    padding-bottom: var(--space-0);
}

.input-container {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sctn-booking form input,
.sctn-booking form select {
    border: var(--color-primary) 2px solid;
    background-color: var(--color-accent);

    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}
.form-left-part input, .form-left-part select{
    width: 150px;
}

.form-right-part input{
     width: 200px; 
}

.form-right-part input[type="submit"]{
    padding: 0;
    margin-top: var(--space-10);
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);
    text-transform: uppercase;
    width: 125px;
    align-self: end;

    font-weight: var(--font-weight-bold);
}

.form-right-part input[type="submit"]:hover{
    transition: ease-in-out 0.2s;
    background-color: var(--color-primary);
    color: var(--color-primary-text);
}



.contact-content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    justify-content: space-between;
    padding: var(--space-50) 0;
}
.contact{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-content i{
    color: var(--color-primary-text);
    width: 10px;
}
.opening-hours{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
    
}
.opening-hours ul{
    display: block;
}

.between-section {
    position: relative; 
}

.triangle-hero-about {
    position: absolute;
    bottom: -5px; 
    right: 0;
    width: 0;
    height: 0;
    border-left: 500px solid transparent; 
    border-bottom: 100px solid var(--color-background); 
    z-index: 1; 
}
.triangle-about-menu {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 0;
    border-right: 500px solid transparent; 
    border-bottom: 50px solid var(--color-background-secondary); 

}
.triangle-menu-review {
    position: absolute;
    top: -5px; 
    right: 0;
    width: 0;
    height: 0;
    border-left: 500px solid transparent; 
    border-top: 50px solid var(--color-background-secondary); 
}
.triangle-review-booking {
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0;
    height: 0;
    border-right: 500px solid transparent; 
    border-bottom: 50px solid var(--color-background-secondary); 
}
.triangle-booking-contact {
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 500px solid transparent; 
    border-bottom: 50px solid var(--color-background); 
    
}
footer{
    color: var(--color-accent);
    font-size: 14px;
    text-align: center;
}
@media screen and (max-width: 1100px) {
    .sctn-about-us{
        flex-direction: column;
        gap: var(--space-50);
        
    }
        .sctn-about-us-content, .sctn-about-us-content .description{
        width: 100%;
    }
    .about-us-image{
        width: 100%;
    }
    .about-us-image img {
        min-width: 250px;
        width: 40%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
}


@media screen and (max-width: 930px) {
    .navigation-content{
        gap: var(--space-20);
    }
    .hero-text{
        width: 100%;
        font-size: calc(var(--font-size-hero) * 0.8);
    }
    .hero-text span{
        font-size: calc(var(--font-size-hero-span)*0.8);
    }
    .hero-action-button button{
        width: 200px;
        height: 50px;
        font-size: var(--font-size-base);
    }
}

@media screen and (max-width: 767px) {
    
    header{
        align-items: baseline;
    }
    .navigation-content{
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: var(--space-10);
    }
    .sctn-menu-images {
        flex-direction: column;
        gap: var(--space-20);
        align-items: center;
    }
    .sctn-menu-images img{
        max-width: 1250px;
        width: 70%;
    }
    
    
    .left-triangle{
    border-left: 100vw solid transparent; 
    }
    .right-triangle{
    border-right: 100vw solid transparent; 
    }
}
@media screen and (max-width: 550px) {

    .menu-toggle, .burger-icon, .burger-close{
        position: absolute;
        right: var(--space-20);
        top: 25px;
    }
    .burger-icon, .burger-close{
        display: flex;
    }
    .burger-icon>i{
        font-size: 28px;
    }
    header{
        justify-content: center;
        flex-direction: column;
    }
    .navigation-content {
        display: none;
        position: absolute; 
        align-items: center; 
        top: 0; 
        left: 0; 
        right: 0; 
        width: 100%; 
        padding: var(--space-20); 
        background-color: var(--color-background);
        gap: var(--space-20);
       
    }

    .menu-toggle:checked ~ .burger-icon + .burger-close + .navigation-content {
        display: flex;
    }
    .menu-toggle:checked ~ .burger-close {
        display: flex;
        z-index: 1;
    }

    .menu-toggle:not(:checked) ~ .burger-close {
        display: none;
    } 
    .display-flex-def-lr-padding{
        padding: var(--space-100) var(--space-20) var(--space-100);
    }
    
    .main-heading{
        align-self: center;
    }


    .review-cards{
        gap: 0;
        padding: var(--space-20) 0;
    }
    .card{

        scale: 75%;
    }
    section h2, section .description{
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .both-parts{
        gap: var(--space-10);
        padding: var(--space-20);
        
    }
    .input-container{
       
        width: 100%;
        height: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-right-part input[type="submit"]{
        
    justify-content: center;
    align-self: center ;
    
    }
}
