@layer components {
    header {
        display: flex;
        position: fixed;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        padding: var(--space-20) var(--space-120);
        transition: background-color 0.3s ease;
        z-index: 100;

        backdrop-filter: blur(10px);

    }

    .main-heading {
        font-size: var(--font-size-h1);
        font-family: var(--font-family-alt);
        color: var(--color-primary-text);

    }

    .menu-toggle,
    .burger-icon,
    .burger-close {
        display: none;
    }

    .navigation-content {
        display: flex;
        gap: var(--space-50);
        justify-content: space-between;
        align-items: center;

    }

    .navigation-content li a {
        font-size: var(--font-size-navigation);

        color: var(--color-primary-text);
    }

    .sctn-hero {
        min-height: calc(var(--grid-unit)*75);
        height: 100vh;
        width: 100%;
        background-color: black;
        background-image: url(https://cdn.pixabay.com/photo/2022/04/04/12/29/garden-7111101_1280.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .sctn-hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: relative;
        z-index: 2;
    }

    .hero-text {

        font-size: var(--font-size-hero);
        color: var(--color-primary-text);
        font-family: var(--font-family-sans);
        width: 50%;
        padding: var(--space-20);
        padding-left: var(--space-0);

    }

    .hero-text span {
        font-size: var(--font-size-hero-span);
        font-family: var(--font-family-alt);

    }

    .hero-action-button {

        padding: calc(var(--grid-unit)*2) calc(var(--grid-unit)*6);
        font-size: var(--font-size-base-large);
        color: var(--color-primary-text);
        text-transform: uppercase;
        background-color: transparent;
        border: var(--color-secondary) 3px solid;
        border-radius: 20px;
        cursor: pointer;

    }



    .sctn-about-us {
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 3;
    }

    .sctn-about-us-content {
        align-content: center;
        width: 60%;

        max-width: 1500px;
    }

    .about-us-image {

        width: 40%;
        display: flex;
        justify-content: center;
    }

    .about-us-image img {
        width: calc(var(--grid-unit)*31.5);
        height: calc(var(--grid-unit)*31.5);
        object-fit: cover;
    }

    .sctn-menu-images {
        padding: var(--space-50) 0;
        display: flex;

        justify-content: space-between;


    }

    .sctn-menu-images img {
        width: 30%;

        max-width: calc(var(--grid-unit)*100);
        transition: all 0.3s ease-in-out;
    }

    .sctn-menu-images img:hover {
        scale: 101%;
    }

    .review-cards {
        padding: var(--space-50) 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--space-50);
    }

    .card {
        background-color: var(--color-background-secondary);
        border-radius: 20px;
        width: 30%;
        min-width: calc(var(--grid-unit)*44);
        max-width: calc(var(--grid-unit)*62.5);
        height: calc(var(--grid-unit)*35);
        color: var(--color-secondary-text);
        padding: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }

    .card-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .card-name {
        font-size: var(--font-size-base-large);

    }

    .card-avatar {
        width: calc(var(--grid-unit)*6);
        height: calc(var(--grid-unit)*6);
        object-fit: cover;
        border-radius: 50%;
    }

    .card-text {
        font-size: var(--font-size-card-text);
        padding: var(--space-10) 0;
    }

    .card-detail {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .star {
        font-size: var(--font-size-h1);
        color: var(--color-accent);
        text-shadow: var(--color-accent) 1px 2px;
    }

    .filled {
        color: gold;

    }



    .sctn-booking form {

        padding: var(--space-50) 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        font-size: var(--font-size-base);

    }

    .both-parts {
        display: flex;
        flex-direction: column;
        padding: var(--space-50);
        padding-bottom: var(--space-0);
    }

    .input-container {
        width: calc(var(--grid-unit)*50);
        height: calc(var(--grid-unit)*6.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .sctn-booking form input,
    .sctn-booking form select {
        border: var(--color-primary) 2px solid;
        background-color: var(--color-accent);

        height: calc(var(--grid-unit)*5);
        border-radius: 10px;
        padding-left: var(--space-10);
    }

    .form-left-part input,
    .form-left-part select {
        width: calc(var(--grid-unit)*25);
    }

    .form-right-part input {
        width: calc(var(--grid-unit)*25);
    }

    .form-right-part input[type="submit"] {
        padding: 0;
        margin-top: var(--space-10);
        background-color: var(--color-secondary);
        color: var(--color-secondary-text);
        text-transform: uppercase;
        width: calc(var(--grid-unit)*16);
        align-self: end;


    }


    .contact-content {

        display: flex;
        flex-wrap: wrap;
        gap: calc(3*var(--space-10));

        justify-content: space-between;
        padding: var(--space-50) 0;
    }

    .contact {

        display: flex;
        align-items: center;
        gap: var(--space-10);
    }

    .contact-content i {

        color: var(--color-primary-text);
        width: calc(var(--grid-unit)*1.2);
    }

    .contact a {
        font-size: var(--font-size-contact-text);
    }

    .opening-hours {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: var(--space-20);

    }

    .opening-hours h3 {
        font-size: var(--font-size-h3);
    }

    .opening-hours ul {
        display: block;
    }



    /*FOOTER*/
    footer {
        color: var(--color-accent);
        font-size: var(--font-size-base);
        text-align: center;
        color: yellow;

    }

    footer p {
        font-size: var(--text-size-600);
        background-color: red;
    }


    #gmap_canvas {
        width: 100%;
        height: calc(50*var(--grid-unit));
        border: none;
        overflow: hidden;
        margin: 0;
    }
}