@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

@layer reset, base, components, utilities, components-responsive;

@import './reset.css' layer(reset);
@import './base.css' layer(base);
@import './components.css' layer(components);
@import './utilities.css' layer(utilities);
@import './components-responsive.css' layer(components-responsive);



