@layer utilities {


    .hero-display-flex {
        display: flex;
        align-items: start;
        justify-content: left;
        padding: var(--space-100) var(--space-120) var(--space-100);
    }

    .display-flex-def-lr-padding {
        align-items: center;
        justify-content: space-between;
        padding: var(--space-100) var(--space-120) var(--space-100);
    }

    .from-right-orientation {
        flex-direction: row-reverse;
        text-align: right;
        align-items: flex-end;
        color: var(--color-secondary-text);
        background-color: var(--color-background-secondary);
    }

    .description-left {

        width: 50%;

    }

    .description-right {

        justify-self: end;
        width: 50%;

    }

    .navigation-content li:hover {

        scale: 105%;
    }

    .hero-action-button:hover {
        background-color: var(--color-secondary);
        color: var(--color-secondary-text);
        transition: all 0.3s ease-in-out;
    }

    .sctn-about-us-content .description {
        width: 80%;
    }

    .card:hover {
        transition: ease-in-out 0.3s;
        scale: 102%;
    }

    .form-right-part input[type="submit"]:hover {
        transition: ease-in-out 0.2s;
        background-color: var(--color-primary);
        color: var(--color-primary-text);
    }

    .weight-normal {
        font-weight: var(--font-weight-normal);
    }

    .weight-bold {
        font-weight: var(--font-weight-bold);
    }

    y .uppercase {
        text-transform: uppercase;
    }

    .between-section {
        position: relative;
    }

    .filled {
        color: var(--color-primary);

    }
    
}